* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: inline-block;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.item{
	width: 25%;
}
.clear {
	clear: both;
}

#footer {
	margin-top: 30px;
	background-color:#333;
	color:#CCC;
	border-top-color: rgba(0,0,0,0.2);
}

.row-footer {
	font-size: 0;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: center;
	display: flex;
}

.row-footer[class*="prefooter_one"] .item {
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	padding: 30px 0;
}

.prefooter .item {
	width: 25%;
}

.widgets p {
	margin-bottom: 10px;
	opacity:0.8;
	font-size: 13px;
    width: 100%;
}

.widgets .widget-title {
	text-transform: uppercase;
	color:#fff;
	margin-bottom: 20px;
	font-size: 13px;
}


.widget-content a {
	color: #CCC;
	padding: 0 5px;
}

.widgets {
	padding:0 20px;
}

.widget-content img {
	display:inline-block;
	vertical-align:middle;
	width: 5px;
}

.widget-content li + li {
	margin-top: 4px;
}

.widget-link li:hover a {
	color:#AAA;
}

.widget-content .icons {
	font-size:12px;
	color: #fff;
}

.widget-content span {
	padding:0 10px;
	font-size: 13px;
}

.widget-contact li:hover a {
	color:#AAA;
}

.widget-contact p {
		width: 95%;
		font-size: 12.5px;
		margin-top: 5px;
		font-family: 'Lato', sans-serif;
}
.payment h4 {
	text-transform:uppercase;
}
.payment {
    text-align: center;
    padding: 10px 0 20px 0;
    border-top: 1px dashed #4C4B4B;
}

#copyright {
	background-color: rgba(0,0,0,0.2);
	padding:10px 0;
	line-height:1.8;
	font-size:12px;
	color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.copyright li {
	float: left;
}

.copyright a {
	color: rgba(255,255,255,0.25);
    border-bottom-color: rgba(255,255,255,0.25);
    margin: 0 3px;
    color: #666;
    border-bottom: 1px dotted #444;
    padding:4px;
}

.copyright li:hover a {
	 border-bottom: 1px solid #555;
	 color:#555;

}

.copyright span {
	color:#555;
}

#copyrights .col_half {
    margin-bottom: 0 !important;
}

.col-half {
	display: block;
    /* position: relative; */
    float: left;
    /* margin-bottom: 50px; */
    /* width: 100%; */
	padding-left: 50%;
	overflow: hidden;

}

.col_last {
    margin-right: 0 !important;
    clear: right;
}

.hotline .hotline-1 {
	position: fixed;
    background: red;
    border-radius: 20px;
    z-index: 9999;
    right: 0;
  	margin: 70px 3px;
  	bottom: 0;
  	transform: translateY(-10%);

}

.hotline .hotline-2 {
	position: fixed;
    background-color:red ;
    border-radius: 20px;
    z-index: 9999;
    right: 0;
  	bottom: 30%;
  	transform: translateY(-100%);
}

.hotline a {
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;

}

.hotline .icons {
	font-size: 16px;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
}
.widget-content ul li a{
	font-size: 12px;
	vertical-align:middle;
	color: #989898;
}
