.headerLogo {
    background-color: #38ab34;
}

.navbar-area nav a {
    color: white;
}

.navbar-area {
    /* height: 30px; */
    background-color: #38ab34;
    padding-right: 3%;
}

.navbar-wrapper {
    float: right;
}

.subMenuWrapper {
    padding-left: 6%;
    padding-right: 6%;
}

.subLogo {
    height: 60px;
}

.subLogo img {
    height: 100%;
}

.formSearch {
    display: flex;
    height: 60px;
    align-items: center;
}

.formArea input {
    height: 40px;
    border-top: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    border-right: none;
    border-radius: 0;
    display: inline-block;
    width: 80%;
}

.formArea button {
    height: 40px;
    border: none;
    width: 85px;
    background-color: #f94f01;
    color: white;
}

.cart {
    position: relative;
}

.cart span {
    display: inline-flex;
    align-items: center;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 45px;
    background-color: #329632;
    border-radius: 25px;
    padding-left: 4px;
    color: white;
    font-size: 10px;
}

.warranty img {
    height: 40px;
}
