@media screen and (max-width: 991px) {

    .headerSpace {
        height: 120px;
    }

    .navbar-wrapper {
        width: 80%;
        float: left;
    }

    .navbar-area {
        float: left;
        background-color: white;
        width: 20%;
    }

    .navbar {
        width: 100%;
    }

    .navbar-area nav a {
        color: black;
    }

    .subMenuWrapper {
        width: 80%;
        flex-grow: row wrap;
    }

    .subLogo {
        width: 100%;
        display: flex;
    }

    .subLogo img {
        width: 100%;
    }

    .subMenuFixed {
        display: flex;
    }

    .subMenuFixed .navbar-area {
        width: 20%;
        order: 1;
    }

    .subMenuFixed .subMenuWrapper {
        width: 80%;
        order: 2;
        flex-flow: row wrap;
    }

    .sticky2 {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 999;
    }

    .formSearch {
        width: 100%;
    }

    .subLogo .cart {
        display: table-cell;
        width: 50%;
        /* order: 1; */
        position: absolute;
        right: 0;
    }

    .subLogo .cart img {
        position: absolute;
        top: 16px;
        right: 0;
        height: 40px;
        width: 40px;
    }

    .subLogo .cart span {
        position: absolute;
        top: 16px;
        left: 100%;
    }

    .cartCount {
        width: 50%;
        position: relative;
    }

    .formSearch .formArea {
        order: 2;
        width: 100%;
        margin-left: -15%;
    }

    .formSearch .formArea input {
        width: 80%;
    }

    .formArea button {
        width: 20%;
        font-size: 12px;
        max-width: 70px;
    }

    .subMenuFixed {
        background-color: white;
    }

    .navbar-area {
        background-color: white;
    }

    #navbarSupportedContent {
        background-color: white;
        margin-top: 20px;
    }

    #navbarSupportedContent .dropdown-menu > a {
        color: white;
    }
}
