@media only screen and (max-width: 768px){
   .row-footer{
       display: block;
   }
   .item{
       width: 300px;
   }
   .widgets{
     width: 273%;

   }
   .widgets{
       max-width: 350px;
   }
}
@media only screen and (max-width: 1000px){
   .item{
       width: 180px;
       margin-top: 20px;
   }
}